*{
    margin:0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.clear::after{
    content: "";
    clear: both;
    display: block;
}

.left{
    float: left;
}

.right{
    float: right;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

.content{
    max-width: 1300px;
    margin: auto;
}

/* header style */

